<table>
  <tr>
    <%= attachment_image_tag(user, :profile_image, size: '100x100', fallback: "no_image.jpg") %>
    </tr>
  <tr>
    <th>名前</th>
    <th><%= user.name %></th>
  </tr>
  <tr>
    <th>自己紹介</th>
    <th><%= user.introduction %></th>
  </tr>
  <tr>
    <th>フォロー</th>
    <th></th>
  </tr>
  <tr>
    <th>フォロワー</th>
    <th></th>
  </tr>
</table>

<div class="row mt-3">
  <%= link_to 'プロフィールを編集', edit_user_path(user) %>
</div>