<div class="container px-5 px-sm-0 mt-3 mb-3">
  <div class="row">

    <div class="col nogutters">

      <h3>Nagauta communityとは</h3>
      <p>
        気軽にセッションしたり、好きな楽曲について語り合える長唄好きの仲間が欲しいが、上手く仲間と出会えない、交流の場がないという方のために、
        長唄の好きな楽曲や楽器、また演奏した楽曲や、演奏したい楽曲を投稿しシェアすることで、長唄好きとゆるく交流できるSNSサイトです。
      </p>

      <p>
        同じ教室に通う仲間でも年齢や技術の差があったり、好きな楽曲のタイプの相違だったりと、気の合う仲間を探すのは難しいと感じています。</br>
        TwitterやInstagramなどのSNSで長唄好きの仲間を探してみたこともありますが、もちろん長唄好きの人専用のSNSではないため、探すのがとても困難でした。
        長唄は一人でも演奏することが出来ますが、複数人で演奏することによって楽曲が華やかになり演奏の楽しさが増します。</br>
        また、演奏の難しさや楽しさ、好きな楽曲、好きなポイントなどを共有し合える仲間がいることでより一層長唄を好きになれると思い、Nagauta communityを作成しました。
      </p>

      <div class="container">
        <div class="row">
          <div class="col mb-4">
            <div class="card mx-auto mt-4">
              <div class="bg-image1 img-fluid p-5"></div>
            </div>
          </div>

          <div class="col mb-4">
            <div class="card mx-auto mt-4">
              <div class="bg-image2 img-fluid p-5"></div>
            </div>
          </div>

          <div class="col mb-4">
            <div class="card mx-auto mt-4">
              <div class="bg-image3 img-fluid p-5"></div>
            </div>
          </div>

          <div class="col mb-4">
            <div class="card mx-auto mt-4">
              <div class="bg-image4 img-fluid p-5"></div>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>
</div>