<div class="container px-5 px-sm-0 mt-3 mb-3">
  <div class="row">
    
    <div class="col nogutters">
      
      <div class="bg-top-image img-fluid text-light p-5">
        <div class="bg-mask">
          <h1 class="bg-text">ようこそ、<strong>Nagauta community</strong> へ</h1>
          <br>
          <p>
            Nagauta communityは長唄の好きな楽曲や楽器</br>
            また演奏した楽曲や、演奏したい楽曲のシェア</br>
            することで、長唄好きと交流できるSNSサイトです。
          </p>
        </div>
      </div>
      
      <div class="container">
        <div class="row">
          <div class="col mb-4">
            <div class="card mx-auto mt-4">
              <div class="bg-image1 img-fluid p-5"></div>
            </div>
          </div>
          
          <div class="col mb-4">
            <div class="card mx-auto mt-4">
              <div class="bg-image2 img-fluid p-5"></div>
            </div>
          </div>
          
          <div class="col mb-4">
            <div class="card mx-auto mt-4">
              <div class="bg-image3 img-fluid p-5"></div>
            </div>
          </div>
          
          <div class="col mb-4">
            <div class="card mx-auto mt-4">
              <div class="bg-image4 img-fluid p-5"></div>
            </div>
          </div>          
        </div>
      </div>
      
      <div class="bg-image5 img-fluid p-5"></div>      
      
    </div>
    
  </div>
</div>