/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";

.bg-top-image {
  width: 100%;
  min-height: 450px;
  background-image: url(篠笛.jpeg);
  background-size: cover;
  background-position: center center;
  padding: 10px;
  background-color: rgba( 204, 255, 204, 0.55 );
}

.bg-image1 {
  width: 100%;
  min-height: 350px;
  background-image: url(尺八.jpeg);
  background-size: cover;
  background-position: center center;
  padding: 10px;
  background-color: rgba( 204, 255, 204, 0.55 );
}

.bg-image2 {
  width: 100%;
  min-height: 350px;
  background-image: url(太鼓.jpeg);
  background-size: cover;
  background-position: center center;
  padding: 10px;
  background-color: rgba( 204, 255, 204, 0.55 );
}

.bg-image3 {
  width: 100%;
  min-height: 350px;
  background-image: url(箏.jpeg);
  background-size: cover;
  background-position: center center;
  padding: 10px;
  background-color: rgba( 204, 255, 204, 0.55 );
}

.bg-image4 {
  width: 100%;
  min-height: 350px;
  background-image: url(箏2.jpeg);
  background-size: cover;
  background-position: center center;
  padding: 10px;
  background-color: rgba( 204, 255, 204, 0.55 );
}

.bg-image5 {
  width: 100%;
  min-height: 350px;
  background-image: url(三味線.jpeg);
  background-size: cover;
  background-position: center center;
  padding: 10px;
}

.card {
  display: flex;
}

.card-body {
  width: 100%;
  height: 20vh;
  object-fit: cover;
  min-height: 200px;
  height: 50px;
  display: flex;
  flex-direction: column;
}

.card-text {
  flex-grow: 1;
  margin-top: auto;
}